@model HorseClubLibrary.Model.Entities.Tours

@{
    ViewData["Title"] = "Admin edit data";
}

<form asp-controller="Admin"
      asp-action="edit"
      asp-route-id="@Model.Id">
    <div class="modal-header text-center justify-content-center">
        <h2 class="modal-title">
            Изменить тур
        </h2>
    </div>

    <div class="modal-body text-start">
        <div class="row m-3">
            <div class="form-group">
                <label class="m-1"
                       asp-for="TourName">
                    Название тура
                </label>
                <input type="text"
                       asp-for="TourName"
                       class="form-control py-2 fs-5"
                       placeholder="Название тура"
                       required="required">
            </div>
        </div>
        <div class="row m-3">
            <div class="form-group">
                <label class="m-1"
                       asp-for="TourPrice">
                    Цена тура
                </label>
                <input type="text"
                       asp-for="TourPrice"
                       class="form-control py-2 fs-5"
                       placeholder="Цена тура"
                       required="required">
            </div>
        </div>

        <div class="row m-3 is-hidden">
            <div class="form-group">
                <label class="m-1"
                       asp-for="TourImage">
                    Цена тура
                </label>
                <input type="text"
                       asp-for="TourImage"
                       class="form-control py-2 fs-5"
                       value="altai_tour.png"
                       required="required">
            </div>
        </div>

        <div class="row m-3 is-hidden">
            <div class="form-group">
                <label class="m-1"
                       asp-for="DurationTourId">
                    Цена тура
                </label>
                <input type="text"
                       asp-for="DurationTourId"
                       class="form-control py-2 fs-5"
                       placeholder="1"
                       required="required"
                       value="1">
            </div>
        </div>

        <div class="row m-3">
            <div class="form-group">
                <label class="m-1"
                       asp-for="TourDescription">
                    Описание тура
                </label>
                <input type="text"
                       asp-for="TourDescription"
                       class="form-control py-2 fs-5"
                       placeholder="Описание тура"
                       required="required">
            </div>
        </div>
        <div class="modal-footer d-flex flex-column align-items-center">
            <div class="row mx-5 text-center">
                <input type="submit"
                       class="btn btn-info text-light fs-4"
                       value="Изменить данные">
            </div>
        </div>
    </div>
</form>